<figure class="text-center">
  <blockquote class="blockquote">
    <p>Listado De Usuarios.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Code in <cite title="Source Title">Simulaco.</cite>
  </figcaption>
</figure>
<table class="table table-striped">
    <thead>
        <th># id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Cumpleaños</th>
        <th>Acciones</th>
    </thead>
    @foreach (var item in Model){
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>@item.BrithDate</td>
            <td> 
                <a class="btn btn-info" asp-action="Create" asp-controller="Users">Crear</a>
                <a class="btn btn-warning" asp-action="Details" asp-controller="Users" asp-route-id="@item.Id">Ver Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id" method="post">Eliminar</a>

            </td>
        </tr>
    }
</table>