<figure class="text-center">
  <blockquote class="blockquote">
    <p>Listado De Productos.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Code in <cite title="Source Title">Simulaco.</cite>
  </figcaption>
</figure>

<form asp-controller="Products" asp-action="Index">

  <p>
    buscar:<input type="text" name="buscar" class="form-text"/>
    <input type="submit" value="buscar" class="btn btn-sm btn-dark"> 
  </p>

</form>
<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-success" asp-action="Create" asp-controller="Products">Crear Nuevo Producto</a>
</div>


<table class="table table-striped">
    <thead>
        <th># id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Direccion</th>
        <th>Numero</th>
        <th>Fecha De Expiracion</th>
        <th>Acciones</th>
    </thead>
    @foreach (var item in Model){
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Amount</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td>@item.ExpirationDate</td>
            <td> 
                <a class="btn btn-info" asp-action="" asp-controller="Products">Editar</a>
                <a class="btn btn-warning" asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">Ver Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id" method="post">Eliminar</a>

            </td>
        </tr>
    };
</table>